<div id="loginPage">
    <div id="loginBody">
        <div id="firstPart">
            <img src=".\assets\images\innova-logo-main 1innova logo.svg" alt="innova Logo" id="innovaLogo">
            <h1>Welcome to Account Planning</h1>
            <h5 class="opacity">Login to Your Account with SSO.</h5>
            <button mat-flat-button color="primary" id="loginButton" (click)="SSO_Login()">
                <span > Login via Innova SSO </span>
                <i class="fa-solid fa-arrow-right" id="loginButtonArrow"></i>
            </button>
            <p class='opacity'>Trouble Signing? <a href="#">Reach us at accountplanning@innovasolutions.com</a></p>
        </div>
        <div id="customerImage">
            <img src=".\assets\images\customerinfopage.svg" alt="image" id="customerinfoImage">
        </div>
    </div>
    <app-footer></app-footer>
</div>