
// FONT
$font-family: "Open Sans",'Roboto',sans-serif;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-semi-bold: 600;

// COLOR
$primary-text-color: #123F69;
$must-have-priority-color: #FB1E20;
$could-have-priority-color: #FAB30B;