.no-top-space {
    margin: {
        top: 0px;
    }
    padding: {
        top: 0px;
    }
}

.body-content {
//    width: auto;
    height: 100vh;
    
}


.main-body-content
{
  //  height: 70vh !important;
}

.siderbar-body-content
{
  //  width:fit-content;
//    height: 70vh !important;
}
