 <form [formGroup]="engagmentHealthForm" id="engagmentDiv">
    <div *ngFor="let question of ehQuestion">
        <mat-label>
            {{question.questionId}}.{{question.question}}
        </mat-label>
        <mat-radio-group [formControlName]="question.formControlName">
            <mat-radio-button [name]="question.formControlName"
                [value]="question.optionAValue" color="primary" *ngIf="question.optionA !== '' ">
                {{question.optionA}}
            </mat-radio-button>
            <mat-radio-button [name]="question.formControlName"
                [value]="question.optionBValue" color="primary" *ngIf="question.optionB !== '' ">
                {{question.optionB}}
            </mat-radio-button>
            <mat-radio-button [name]="question.formControlName"
                [value]="question.optionCValue" color="primary" *ngIf="question.optionC !== '' ">
                {{question.optionC}}
            </mat-radio-button>
            <mat-radio-button [name]="question.formControlName"
                [value]="question.optionDValue" color="primary" *ngIf="question.optionD !== '' ">
                {{question.optionD}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
</form>